<aside class="sidenav">
  <nav>
    <ul>
      <li class="home"><a href="/" class="{% if page.url == '/' %}active{% endif %}">Home</a></li>
    </ul>

    {% for category in site.page_categories %}
      <ul>
        <li class="category-title">{{ category | capitalize }}
          <ul class="post-list">
            {% for route in site.html_pages %}
              {% if route.category == category %}
                <li><a href="{{ route.url }}" class="{% if page.url == route.url %}active{% endif %}">{{ route.title }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </li>
      </ul>
    {% endfor %}
  </nav>
</aside>
