// Left wing : #08aaff
// Left wing inner : #00aaff
// Right wing : #0aaff
// Right wing inner : #004d99
// Left tail : #004d99
// Right tail : #223661


$color-primary: #08aaff;
$color-primary--variant-1: #b2e8ea;
$color-primary--variant-2: #004d95;
