---
---

@import 'fonts';
@import 'palette';
@import 'variables';

@import 'theme';

@import 'components/sidenav';
@import 'components/main';

/**
 * box-sizing explained
 * @see https://css-tricks.com/box-sizing/
 */

html {
  box-sizing: $box-sizing--default;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

////////

body, main, figure, ul, li {
  padding: 0;
  margin: 0;
}


a {
  text-decoration: none;
}


body {
  // Make the side nav and the main elements sit next to
  // each other comfortably.
  display: grid;
  grid-template-columns: 300px 1fr;
}
