/**
 * Not to be confused with the `main.scss` in the
 * `/assets/css/` folder. This file governs the `main`
 * semantic HTML element. This file is _not_ an entrypoint.
 */

main {
  // We don't have a mechanism to collapse the sidenav, so
  // until we figure that out, just allow words to break
  // lines at the individual letts.
  word-wrap: break-word;
  overflow: hidden;

  ////////

  @include poppins();

  height: 100vh;
  overflow: auto;
  padding: $padding--default !important;
  font-size: 14px;

  p,
  li {
    line-height: 23px;
  }

  a {
    color: $color-primary;
    border-bottom: 1px dashed transparent;
    transition: color 0.2s ease-out, border-color 0.2s ease-out;

    &:hover,
    &.active {
      color: $color-primary--variant-2;
      border-color: $color-primary--variant-2;
    }
  }

  ul {
    margin-left: $padding--default * 3;
  }

  p>code,
  h1>code,
  h2>code,
  h3>code,
  ul li>code {
    display: inline-block;
    background: #f6f6f6;
    padding: 3px;
  }

  h1 {
    @include josefin();

    font-size: 36px;
    line-height: normal;
    font-weight: normal;

    color: $color-primary;
  }

  h2 {
    @include josefin();

    font-size: 28px;
    line-height: normal;
    font-weight: normal;

    color: $color-primary--variant-2;
  }
}
